/*

Author: Excellerate Lab
Created on: May 16 2017
Last Edit Date: May 16 2017

*/

/* -------------------------------------

Index:

%1 GLOBAL & FONT
%2 NAV
%3 SWIPER SLIDER
%4 OVERLAY RESPONSIVE MENU
%5
%6
%7
%8
%9
%10

------------------------------------- */

/* ------------------------------------- %1 GLOBAL & FONT */

/*@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');*/
/*@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,700');*/
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700');

html {
	font-size: 1rem;
}
html, * {
	font-family: 'Maven Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	font-size: 1rem;
	font-weight:400;
}


/* preloader styles */
#load_screen{
	background: #fff;
	opacity: 1;
	position: fixed;
	z-index:999;
	top: 0px;
	width: 100%;
	height: 100%;
}
#load_screen > div#loading{
	width:120px;
	height:120px;
	position:absolute;
	left:50%;
	top:50%;
	background-image:url(../img/status.svg);
	background-position:center;
	margin: -60px 0 0 -60px;
}
/* end preloader styles */

/* alignment styles */
.text-right {text-align: right;}
.text-left {text-align: left;}
.text-center {text-align:center;}
@media screen and (max-width: 767px) {
	.small-text-center {text-align:center;}
}
/* end alignment styles */

/* content panel boxes */
.panel-top {
	border:1px solid #eaeaea;
	padding:0.5rem;
}

.panel-bottom {
	border-right:1px solid #eaeaea;
	border-bottom:1px solid #eaeaea;
	border-left:1px solid #eaeaea;
}

/* font sizes */
.fnt-sz-s4 {font-size: 0.6rem}
.fnt-sz-s3 {font-size: 0.7rem}
.fnt-sz-s2 {font-size: 0.8rem}
.fnt-sz-s1 {font-size: 0.9rem}

.fnt-sz-l1 {font-size: 1.1em}
.fnt-sz-l2 {font-size: 1.2em}
.fnt-sz-l3 {font-size: 1.3em}
.fnt-sz-l4 {font-size: 1.4em}
.fnt-sz-l5 {font-size: 1.5em}
.fnt-sz-l6 {font-size: 1.6em}
.fnt-sz-l7 {font-size: 1.7em}
.fnt-sz-l8 {font-size: 1.8em}
.fnt-sz-l9 {font-size: 1.9em}
/* end font sizes */

/* font colors */
.fnt-light-blue {color:#25bee8;}
.fnt-blue {color:#18386d;}

.fnt-light-red {}
.fnt-red {}

.fnt-light-green {}
.fnt-green {}

.fnt-light-grey {}
.fnt-grey {color:#b8b8b8;}

.fnt-white {color:#fff;}
/* end font colors */



.sort{
	display:inline-block;
	padding: 5px;
}
.sort select{
	padding: 0;
	margin:0;
}
.form-spacer{height:10px;}

.clean-list {margin:0 0 0 5px}
ul.clean-list {list-style-type: none; margin:0 0 0 5px; padding:0;}

.fade  {
		opacity: 0;
		-webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
	}
.fade.in  {opacity: 1;}




/* --Product specs modal-- */
#product-specs {
	display:none;
}
.product-spec-row {
	border-bottom:1px solid #d7d7d7;
	padding:2rem 0;
}

/* --THANK YOU PAGE --*/
.bg-thank-you{
	background: url('../img/bannerbg.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
}
@media screen and (max-width: 767px) {
	.bg-thank-you {background-size: cover; background-position: 50% 20vh;}
}

/* --UBER PAGE --*/
.highlighted1{padding:0.5rem; margin:0.5rem;color:#25bee8;font-weight: 700;}
.status-box {
	background-color:white;padding:1.5rem;
	-webkit-box-shadow: 0px 5px 60px -17px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 5px 60px -17px rgba(0,0,0,0.45);
	box-shadow: 0px 5px 60px -17px rgba(0,0,0,0.45);
}

/* STATUS PAGE */
.bg-status-review {
	/*height:70vh;*/
	background: #578687; /* Old Browsers */
	background: -webkit-linear-gradient(top right,#578687,#355859); /*Safari 5.1-6*/
	background: -o-linear-gradient(top right,#578687,#355859); /*Opera 11.1-12*/
	background: -moz-linear-gradient(top right,#578687,#355859); /*Fx 3.6-15*/
	background: linear-gradient(top right, #578687, #355859); /*Standard*/
}
.bg-status-approved {
	/*height:70vh;*/
	background: #54d774; /* Old Browsers */
	background: -webkit-linear-gradient(top right,#54d774,#35b74e); /*Safari 5.1-6*/
	background: -o-linear-gradient(top right,#54d774,#35b74e); /*Opera 11.1-12*/
	background: -moz-linear-gradient(top right,#54d774,#35b74e); /*Fx 3.6-15*/
	background: linear-gradient(top right, #54d774, #35b74e); /*Standard*/
}
.bg-status-account {
	/*height:70vh;*/
	background: #449fdd; /* Old Browsers */
	background: -webkit-linear-gradient(top right,#449fdd,#2a75bf); /*Safari 5.1-6*/
	background: -o-linear-gradient(top right,#449fdd,#2a75bf); /*Opera 11.1-12*/
	background: -moz-linear-gradient(top right,#449fdd,#2a75bf); /*Fx 3.6-15*/
	background: linear-gradient(top right, #449fdd, #2a75bf); /*Standard*/
}


/* --HOME PAGE --*/
section.parallax {
  height: 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.parallax-1 {
  background-image: url("../img/bg-driving.jpg");
}

/* --FAQ PAGE --*/
.accordion {
	margin: auto;
	width: 400px;
}
.accordion input {
	display: none;
}
.box {
	position: relative;
	background: white;
    height: 64px;
    transition: all .25s ease-in-out;
}
.box::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.box-title:hover {
	background: #ececec;
	color:#333;
	font-weight: 700;
}
.box-title {
	color:#333;
	font-weight: 700;
	width: calc(100% - 40px);
	height: 64px;
	line-height: 64px;
	padding: 0 20px;
	display: inline-block;
	cursor: pointer;
	-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}
.box-content {
	width: calc(100% - 40px);
	padding: 30px 20px;
	color: rgba(0,0,0,.54);
	display: none;
}
.box-close {
	position: absolute;
	height: 64px;
	width: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}
input:checked + .box {
	height: auto;
	margin: 16px 0;
    -webkit-box-shadow: 0px 5px 60px -17px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 5px 60px -17px rgba(0,0,0,0.45);
	box-shadow: 0px 5px 60px -17px rgba(0,0,0,0.45);
}
input:checked + .box .box-title {
	border-bottom: 1px solid rgba(0,0,0,.18);
	background: #b1e3ff;
	color:#0e3750;
	font-weight: 700;
}
input:checked + .box .box-content,
input:checked + .box .box-close {
	display: inline-block;
}
.arrows section .box-title {
	padding-left: 44px;
	width: calc(100% - 64px);

}
.arrows section .box-title:before {
	position: absolute;
	display: block;
	content: '\203a';
	font-size: 1rem;
	left: 20px;
	top: -2px;
	transition: transform .15s ease-in-out;
	color: rgba(0,0,0,.54);
}
input:checked + section.box .box-title:before {
	transform: rotate(90deg);
}

/* slider */
.hero-1 {font-size: 10vh;}
.hero-2 {font-size: 4vh;}
@media screen and (max-width: 767px) {
	.hero-1 {font-size: 7vh;}
	.hero-2 {font-size: 3vh;}
}



/* ------------------------------------- %2 NAV */
header {
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);}
nav {
	background-color: #fff;
	margin-top: 1.2rem;
}
nav a {text-decoration:none; margin-right:2rem;}
nav a:last-child {margin-right:0;}
nav a.active {text-decoration:underline;}

.top-logo {
	height:20px;
	margin-top:20px;
}

/* ------------------------------------- %3 SWIPER SLIDER */

.swiper-container {

	}
	.swiper-slide {
		background: #ffffff;
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-direction: column;
		-webkit-flex-direction: column;

	}
	.swiper-slide-home {
		text-align: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;

	}
	.swiper-slide-form {
		text-align: left;
		padding-bottom:50px;
	}

	.kancil-slide {
		height: 100vh;
		background-image:url('../img/slider-1.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
}
/* ------------------------------------- %4 OVERLAY RESPONSIVE MENU */
.button_container_ham {
	-ms-transform: scale(-0.6, 0.6);
	-webkit-transform: scale(-0.6, 0.6);
	transform: scale(-0.6, 0.6);
	position: fixed;
	top: 20px;
	right: 5%;
	height: 27px;
	width: 35px;
	cursor: pointer;
	z-index: 98;
	-webkit-transition: opacity .25s ease;
	transition: opacity .25s ease;
}
.button_container_ham:hover {

}
.button_container_ham.active .top {
	-webkit-transform: translateY(11px) translateX(0) rotate(45deg);
	transform: translateY(11px) translateX(0) rotate(45deg);
	background: #0b649a;
}
.button_container_ham.active .middle {
	opacity: 0;
	background: #0b649a;
}
.button_container_ham.active .bottom {
	-webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
	transform: translateY(-11px) translateX(0) rotate(-45deg);
	background: #0b649a;
}
.button_container_ham span {
	background: #0277bd;
	border: none;
	height: 5px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all .35s ease;
	transition: all .35s ease;
	cursor: pointer;
}
.button_container_ham span:nth-of-type(2) {
	top: 11px;
}
.button_container_ham span:nth-of-type(3) {
	top: 22px;
}

.overlay {
	position: fixed;
background: #29c4d0; /* Old Browsers */
background: -webkit-linear-gradient(top left,#29c4d0,#60ffad); /*Safari 5.1-6*/
background: -o-linear-gradient(top left,#29c4d0,#60ffad); /*Opera 11.1-12*/
background: -moz-linear-gradient(top left,#29c4d0,#60ffad); /*Fx 3.6-15*/
background: linear-gradient(top left, #29c4d0, #60ffad); /*Standard*/
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	opacity: 0;
	z-index: 96;
	visibility: hidden;
	-webkit-transition: opacity .35s, visibility .35s, height .35s;
	transition: opacity .35s, visibility .35s, height .35s;
	overflow: hidden;
}
.overlay.open {
	opacity: .95;
	visibility: visible;
	height: 100%;
}

.overlay.open li {
	-webkit-animation: fadeInRight .5s ease forwards;
	animation: fadeInRight .5s ease forwards;
	-webkit-animation-delay: .35s;
	animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
	-webkit-animation-delay: .4s;
	animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
	-webkit-animation-delay: .45s;
	animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
	-webkit-animation-delay: .50s;
	animation-delay: .50s;
}
.overlay.open li:nth-of-type(5) {
	-webkit-animation-delay: .60s;
	animation-delay: .60s;
}
/* add another NTH child for additional menu items */

.overlay .mobilemenu {
	position: relative;
	height: 70%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-weight: 400;
	text-align: center;
}
.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	position: relative;
	height: 100%;
}
.overlay ul li {
	display: block;
	height: 25%;
	height: calc(100% / 5); /* number of menu items, to divide evenly */
	min-height: 50px;
	position: relative;
	opacity: 0;
}
.overlay ul li a {
	display: block;
	position: relative;
	color: #fff;
	text-decoration: none;
	overflow: hidden;
	font-size:2.5rem;
	font-weight:700;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
	width: 100%;
}
.overlay ul li a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 3px;
	background: #fff;
	-webkit-transition: .35s;
	transition: .35s;
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		left: 20%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		left: 20%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}
